<h1><%= @restaurant.name %></h1>
<% @restaurant.reviews.each do |review| %>
  <p><%= review.content %></p>
<% end %>
<p><%= link_to 'back', restaurants_path %></p>
<p><%= link_to 'leave a review', new_restaurant_review_path(@restaurant) %></p>
